

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top ms-auto">
    <div class="container-fluid l-d">
      <a class="navbar-brand"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/listings">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listings/new">Add your Listing</a>
          </li>
        </ul>
      </div>
    </div>


    <% if(originalUrl && originalUrl == "/listings"){ %>
    <div class="container-fluid ms-auto m">
        <form class="d-flex" role="search" method="POST" action="/listings/search">
          <input class="form-control me-2" type="search" placeholder="Enter vacation place" aria-label="Search" name="place">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
    </div>
    <% } %>
    <% if(originalUrl && originalUrl !== "/listings"){ %>
      <div style="width: 45rem;"></div>
      <% } %>

        <div class="r-d">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if(!currentUser) { %>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/signup"><b>SignUp</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"> <b>Login</b></a>
            </li>
            <% } %>
           <% if(currentUser) { %>
            <li class="nav-item">
              <a class="nav-link" href="/logout"><b>LogOut</b></a>
            </li>
           <% } %>

          </ul>
        </div>
  </nav>