<% layout("/layouts/boilerplate.ejs") %>

<body>
<div class="login">

    <h3 class="offset-5 mt-3">Log In</h3>
    
    <form action="/login" method="POST" novalidate class="needs-validation">

     <div class="row">

        <div class="mb-3 col-5 offset-3">
            <label for="username" class="form-label">Username : </label>
            <input type="text" name="username" class="form-control" id="username" required> 
        </div>

        <div class="mb-3 col-5 offset-3">
         <label for="password" class="form-label">Password :</label>
         <input type="password" name="password" class="form-control" id="password" required> 
        </div>

     </div>
     <button class="btn  btn-outline-dark btn-sm offset-3">Log in</button>
 
    </form>
</div>
</body>