<% layout("/layouts/boilerplate.ejs") %>

<body>
<div class="sign-up">

    <h3 class="offset-4 mt-3">SignUp on Wanderlast</h3>
    
    <form action="/signup" method="POST" novalidate class="needs-validation">

     <div class="row">

        <div class="mb-3 col-5 offset-3">
         <label for="email" class="form-label">Email : </label>
         <input type="email" name="email" class="form-control" id="email" required> 
         <div class="invalid-feedback">Invalid email</div>
        </div>

        <div class="mb-3 col-5 offset-3">
            <label for="username" class="form-label">Username : </label>
            <input type="text" name="username" class="form-control" id="username" required> 
            <div class="invalid-feedback">Wrong username</div>
        </div>

        <div class="mb-3 col-5 offset-3">
         <label for="password" class="form-label">Password :</label>
         <input type="password" name="password" class="form-control" id="password" required> 
         <div class="invalid-feedback">Wrong password</div>
        </div>

     </div>
     <button class="btn btn-danger btn-sm offset-3">Register</button>
 
    </form>
</div>
</body>